<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Member Lists
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<ion-list>
  <ion-item *ngFor="let member of members" (click)="openNote(member)">
    <ion-card>
      <ion-card-header>
        <ion-card-title><b>Name :</b> {{ member.name }}</ion-card-title>
        <ion-card-subtitle><b>Qid :</b> {{ member.Qid }}<br></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       <b>Date of Join : </b> {{member.date}} <br>
      </ion-card-content>
    </ion-card>

    <!-- <ion-label>

    <b>Name :</b> {{ member.name }}<br>
   <b>Qid :</b> {{ member.Qid }}
    </ion-label> -->
  </ion-item>
</ion-list>

<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addMember()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-button color="medium" shape="round" (click)="addMember()" >Add Member</ion-button>
</ion-fab>
</ion-content>
