ion-content{
    ion-col{
        text-align: center;
        ion-icon{
            zoom:2.5;
            padding: 5px;
            &:first-child{
                zoom: 3.8;
                padding: 5 px;
            }
        }
        h2,h1{
            margin-top: 0;
        }
        ion-card{
            text-align: center;
        }
    }
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 65%;
      width: 100%;
      color: rgb(0, 0, 0);
    }
  
  }